.modal-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.thank-you-message{
    margin-top: 10px;
}
.modal-p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.modalprof{
    margin-left: -50px;
}
    .image-modal {
        width: 426px;
        height: 299px;
        margin-right: -12px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 46px;

}
.modalemail span{
    font-size: 12px;
    font-style: italic;
    text-overflow: ellipsis;
    color: #999;
}
.modalemail input {
    font-size: 12px;
    background-color: var(--color__standard__background);
    border: 1.5px solid;
    border-radius: 0px;
    height: 40px;
    vertical-align: top !important;
    box-shadow: none;
    border-color: black;
    margin-left: -58px;
    width: 360%;
}
.modalemail{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-color: var(--color__standard__background);
    border: 1px solid var(--color__standard__border);
    border-radius: 0;
    height: 36px;
    vertical-align: top !important;
    box-shadow: none;
    margin-top:22px;
    margin-left:161px;

}
.modalname{
    margin-left: -87px;

}
.bg-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Cover 20% of the top of the modal */
    background-color: rgba(67,67,255); /* Adjust opacity if needed */
    z-index: 1; /* Ensure it's below other modal content */
}
.modaldiv-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:110px;
}
.modal-div{
    flex-direction: row;
    display: flex;
    margin-left: 42px;
    margin-right: 42px;
}
.modal-container {
    position: relative;
    background-color: white;
    width: 33%;
    max-width: 1225px;
    display: flex;
    align-items: center;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 49%;
    z-index: 2;
}
.modal-card-button{
    display: flex;
    flex-direction: row;
    margin-left: 190px;
    margin-right: -43px;
    margin-top: 54px;
    margin-bottom: -73px;
    background-color: rgb(67, 67, 255);
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;

}
.info-line{
    display: flex;
    flex-direction: row;
    margin:0px 0px 0px 0px;
    font-size: 10px;
    font-style: italic;
    color: #999;
    z-index: 9999;
}
.modal-email{
    display: flex;
    flex-direction: column;
    margin-left:-65px ;
    margin-bottom:5px;
    font-size: 14px;
}
.modal-main h2{
    font-size: 16px;
    font-weight: bold;
    margin:70px 0px -10px 0px;
    text-decoration: underline;
}
.button-email{
    display: inline-block;
    margin-bottom: -146px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2.5px solid black;
    white-space: nowrap;
    font-size: 14px;
    font-family: Nunito Sans;
    border-radius: 3px;
    line-height: normal;
    padding: 8px 23px;
    color: black;
    background-color: white;
    font-weight: bold;
    margin-left: 44px;
}
.div-nothanks{
    margin:0px 0px 0px 0px;
}
.img-text {
    position: absolute;
    top: 26%;
    font-family: Nunito Sans;
    left: 55.5%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
    z-index: 2; /* Ensure the text appears above the image */
  }
  
.button-cross {
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    font-family: Nunito Sans;
    line-height: normal;
    padding: 8px 23px;
    color: black;
    background-color: white;
    font-weight: bold;
    margin: 95px -5px 0px 0px;
    z-index: 9999;
    border:0px;
    text-decoration: underline; /* Add underline */
}


.modal-card {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.get-some {
    margin-top: 96px;
    margin-bottom: 10px;
    font-size: 19px;
    margin-left: -118px;
}
.circular-image {
    z-index: 12;
    align-self: flex-start;
    min-width: 105px;
    max-width: 50px;
    order: 1;
    min-height: 50px;
    width: 50px;
    flex-grow: 1;
    height: max-content;
    margin: 44px -21px -8px -35px;
    justify-content: flex-start;
    overflow: visible;
    border-radius: 50%; /* Making it round */
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .circular-image img {
   
    width: 60%;
    height: 106%;
    border-radius: 50%; /* Making it round */
  }
  
  .modal-card {
    width: 50%;
    padding: 20px;
  }
.modal-para{
    color: black;
    font-size: 20px;
    margin: 10px 0;
}

.modal-card h1 {
    position: fixed;
    color: black;
    margin: -98px -245px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 16px;
    z-index: 1;

}



@media screen and (max-width: 768px) {
    .modal-container {
        width: 84%;
        max-width: 90%;
        height: 45%;
    }   
    .modal-email {
        display: flex;
        flex-direction: column;
        margin-left: -52px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .get-some {
        margin-top: 100px;
        margin-bottom: 10px;
        font-size: 19px;
        margin-left: -55px;
    }

    .modal-main h2 {
        font-size: 16px;
        margin-top: 5px;
        margin-left:10px;
    }
    .modal-card {
        width: 97%;
        padding: 20px;
    }
    .modal-card h1 {
        font-size: 14px;
        margin-top: 0;
        position: fixed;
        margin: -76px 55px 5px 74px;
    }

    .modal-p {
        font-size: 12px;
    }

    .modal-email input {
        font-size: 14px;
        height: 40px;
    }

    .button-email {
        font-size: 12px;
        padding: 8px 16px;
        margin-left: 58px;
    }
x   
    .button-cross {
        font-size: 14px;
        padding: 8px 16px;
        margin-top: 88px;
    }
    .circular-image {
        display: flex;
        margin: 48px 64px 14px -198px;
    }
    .modalemail {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        background-color: var(--color__standard__background);
        border: 1px solid var(--color__standard__border);
        border-radius: 0;
        height: 36px;
        vertical-align: top !important;
        box-shadow: none;
        margin-top: 22px;
        margin-left: 59px;
    }
    .modal-card-button {
        display: flex;
        flex-direction: row;
        margin-left: 56px;
        margin-right: -43px;
        margin-top: 54px;
        margin-bottom: -73px;
        background-color: rgb(67, 67, 255);
        color: white;
        border: none;
        padding: 10px 20px 10px 20px;
    }
    .modalemail input {
        font-size: 12px;
        background-color: var(--color__standard__background);
        border: 1.5px solid;
        border-radius: 0px;
        height: 40px;
        vertical-align: top !important;
        box-shadow: none;
        border-color: black;
        margin-left: -58px;
        width: 143%;
    }
}
