.sidebar {
  width: 15%;
  position: fixed;
  height: 60%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  font-size: 18px;
  font-weight: bold;
  padding-top:50px;
  margin-left: -135px;
  font-family: Nunito Sans;
}

.logo-container h1 {
  margin-top: 1.3rem;
}

.sidebar-content {
  overflow-y: auto; /* Hide vertical scrollbar */
  max-height: calc(100vh - 120px); /* Adjust max height as needed */
}

.sidebar-content::-webkit-scrollbar {
  display: none;
}
.year-checklist {
  margin-top: 40px;
  margin-left: 40px;
}

.container-yearlist {
  display: flex;
  flex-direction: row;
  margin-left: -97px;
  padding-bottom: 2px;
  
}

.yearSelect {
  font-size: 17px;
  font-style: bold;
  font-weight: bold;
  font-family: Nunito Sans;
  
}
.checkbpox-yearinput {
  height: 18px;
  margin-top: 2px;
  
  
}
.checklist-year {
  margin-left: -115px;
  font-size: 18px;
  font-family: Nunito Sans;
}

/* Dropdown menu styles */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Take full width on smaller screens */
    height: auto; /* Adjust height automatically */
    position: static; /* Remove fixed positioning */
  }

  .logo-container {
    margin-left: 0; /* Remove negative margin */
  }

  .year-checklist {
    margin-left: 0; /* Remove specific margin */
    margin-top: 20px; /* Adjust margin */
  }

  .container-yearlist {
    margin-left: 0; /* Remove specific margin */
  }

  .yearSelect {
    font-size: 14px; /* Adjust font size */
  }

  .checklist-year {
    margin-left: 0; /* Remove specific margin */
  }
}

