.sidebar {
  width: 15%;
  position: fixed;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  font-size: 32px;
  font-weight: bold;
  padding-top:50px;
  font-family: Nunito Sans;
}

.logo-container h1 {
  margin-top: 1.3rem;
}

.sidebar-content {
  overflow-y: auto; /* Hide vertical scrollbar */
  max-height: calc(100vh - 120px); /* Adjust max height as needed */
}

.sidebar-content::-webkit-scrollbar {
  display: none;
}
.year-checklist {
  margin-top: 40px;
  margin-left: 40px;
}

.container-yearlist {
  margin-left: -97px;
  padding-bottom: 2px;
  
}

.yearSelect {
  font-size: 24px;
  font-style: bold;
  font-weight: bold;
  font-family: Nunito Sans;
  
}
.checkbpox-yearinput {
  height: 18px;
  margin-top: 10px;
  
}
.checklist-year {
  margin-left: -98px;
  padding-bottom: 5px;
  font-size: 18px;
  font-family: Nunito Sans;
}

/* Dropdown menu styles */
@media screen and (max-width: 768px) {
  .filters {
    margin-bottom: 50px;
  }

  .categories button {
    margin-left: 0; /* Remove negative margin */
  }

  .categories {
    align-items: flex-start; /* Align items to start for smaller screens */
  }

  .checkboxLabel {
    margin-left: 0; /* Remove negative margin */
  }

  .checklistinput {
    margin-right: 0; /* Remove negative margin */
  }
}
