.filters {
  flex: 0 0 100%; /* Adjust width to fit the sidebar */
}



.categories,
.subcategories {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  margin-right:20px;
  font-family: Nunito Sans;
  font-weight: 400;
}
.viewMoreButton{
  width:70%;
}
.categories button {
  margin-top: 10px;
  background-color: #FAF9F6;
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 15px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 22px; /* Adjust font size for better readability */
margin-left: -90px;
font-family: Nunito Sans;
  
}
.catFont{
  font-family: Nunito Sans;
  font-size: 22px;
}

.checklistinput{
  padding-bottom:-15px;
  margin-right: -90px;
  font-size:26px;
  font-family: Nunito Sans;
}
.inputchecklist{
  display: flex;
  flex-direction:row;
}
.checkboxcategory{
  height: 20px;
}


.checkboxLabel input[type="checkbox"] {
  margin-right: 8px;
}

.filterLabel {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: Nunito Sans;
}

.subCategoryHeading{
  font-size: 24px;
  font-weight: bold;  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Nunito Sans;

}

@media screen and (max-width: 768px) {
  .filters {
    margin-bottom: 50px;
  }

  .reports {
    padding: 0;
  }

  .lowerSection {
    padding: 50px 28px;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .filters input.search {
    width: 100%; /* Adjust width for smaller screens */
  }

  .yearFilter select {
    width: 100%; /* Adjust width for smaller screens */
  }

  .categories button {
    margin-left: 0; /* Remove negative margin */
  }
}
