.filters {
  flex: 0 0 100%; /* Adjust width to fit the sidebar */
}



.categories,
.subcategories {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-right:30px;
  font-family: Nunito Sans;
  font-weight: 400;
  margin-left:15px;
}
/* Adjust the styles as needed */

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  z-index:1;
}

.search-input-container {
  position: relative;
  flex: 1;
}

.search-input-author {
  padding-right: 30px; /* Space for close icon */
}

.close-icon {
 
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.viewMoreButton{
    width:75%;
     margin-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 10px;
    padding: 0.7rem;
    padding-left: .7rem;
    padding-right: 0.7rem;
    border-radius: 16px;
    color: rgb(67, 67, 255);
  
    font-size: 0.4rem;
    border: none;
    cursor: pointer;
    font-family: Nunito Sans;
}
.categories button {
  margin-top: 10px;
  background-color: #e3e3e3;
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 16px;;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 22px; /* Adjust font size for better readability */


font-family: Nunito Sans;
  
}
.catFont{
  font-family: Nunito Sans;
  font-size: 14px;
}
.subCategoryList h2{
  margin-top:20px;
}
.checklistinput{
  padding-bottom:-15px;
  margin-right: -98px;
  font-family: Nunito Sans;
}
.inputchecklist{
  display: flex;
  flex-direction:row;
}
.checkboxcategory{
  height: 14px;
}


.checkboxLabel input[type="checkbox"] {
  margin-right: 8px;
}

.filterLabel {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Nunito Sans;
}

.subCategoryHeading{
  font-size: 24px;
  font-weight: bold;  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Nunito Sans;

}
.heading{
  font-size: 19px;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .filters {
    margin-bottom: 50px;
  }

  .reports {
    padding: 0;
  }

  .lowerSection {
    padding: 50px 28px;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .filters input.search {
    width: 100%; /* Adjust width for smaller screens */
  }

  .yearFilter select {
    width: 100%; /* Adjust width for smaller screens */
  }

  .categories button {
    margin-left: 0; /* Remove negative margin */
  }
  .heading{
    font-size: 16px;
    padding-bottom: 10px;
}
}
