.author-title {
  margin-top: 20px;
}
.ml{
  margin-left:15px;
}
.sidebar-title-author-title{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  /* font-weight: bold; */
  /* color: #000000; */
  font-family: Nunito sans;

}
.search-input-author{
  width: 80%;
  margin-top:1px;
  margin-bottom: 20px;
}
.searchauthorInput{
  width: 100%;
  height: 100%;
}
.search-input-author {
  display: none;
}

.search-bar.active .search-input-author {
  display: block;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input-author {
  border-radius: 20px;
  padding: 8px 30px 8px 12px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.search-input-author.active {
  width: 200px; /* Adjust width as needed */
}

.close-icon {
  
  right: 10px;
  cursor: pointer;
}

.checklistauthorbox {
  margin-top: 10px;
}

/* Other styles... */

/* Adjust the styles as needed */

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input-container {
  position: relative;
  flex: 1;
}

.search-input-author {
  padding-right: 30px; /* Space for close icon */
}

.close-icon {
  position: absolute;
  right: 39px;
  top: 50%;
  transform: translateY(-59%);
  cursor: pointer;
}

.viewMoreButton {
  width: 73%;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 10px;
  padding: 0.8rem;
  padding-left: .6rem;
  padding-right: .6rem;
  border-radius: 18px;
  color: rgb(67, 67, 255);
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: Nunito Sans;
}
.search-input-author {
  display: none;
}

.search-bar.active .search-input-author {
  display: block;
  margin-top: 10px;
}

.sidebar-label-container{
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 14px;
  height: 18px;
  color: #000000;
}
.checkmark{
  margin-left: -110px;
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 14px;
  color: #000000;
  font-family: Nunito sans;

}
.checkboxauthorInput{
  height: 14px;
}
.checklistauthor {
  display: flex;
  align-items: center;
  font-size: 14px; /* Adjust font size for better readability */
  padding-bottom: 8px;
   /* Reduce margin-left for closer alignment */
  font-family: Nunito sans;
}

.checklistauthorInput {
  height: 14px;
  margin-right: -90px; /* Adjust margin-right for spacing between checkbox and text */

}
