.author-title {
  margin-top: 20px;
}

.ml {
  margin-left: 40px;
}
.sidebar-title-author-title{
  margin-top: 20px;
  margin-bottom:10px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  font-family: Nunito sans;

}
.viewMoreButton{
  width:70%;
  margin-left: 1rem;
 margin-bottom: 1rem;
 margin-top: 10px;
 padding: 0.6rem;
 padding-left: .6rem;
 padding-right: .6rem;
 border-radius: 18px;
 color: rgb(67, 67, 255);
  
 font-size: 9px;
 border: none;
 cursor: pointer;
 font-family: Nunito Sans;
}

.sidebar-label-container{
  margin-left: -100px;
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 14px;
  height: 18px;
  color: #000000;
}
.checkmark{
  margin-left: -110px;
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 14px;
  color: #000000;
  font-family: Nunito sans;

}
.checkboxauthorInput{
  height: 14px;
}
.checklistauthor {
  display: flex;
  align-items: center;
  font-size: 14px; /* Adjust font size for better readability */
  padding-bottom: 3px;
  margin-left: -100px; /* Reduce margin-left for closer alignment */
  font-family: Nunito sans;
}

.checklistauthorInput {
  height: 14px;
  margin-right: -90px; /* Adjust margin-right for spacing between checkbox and text */

}
