
.homepage-navbar-container{
    padding-top: 30px;
    padding-left: 70px;
    display: flex;
    /* padding-bottom: 20px; */
    color: black;
    
}
.vcproject{
    font-size:27px;
    font-style:bold;
    
    
}
.homepage-logo{
    margin-top: 12px;
    
}




.svg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.heading-container{
    font-size: 17px;
    padding-top: 20px;
    /* padding-bottom: -45px; */
    font-family: Nunito Sans;

}


.card1-container{
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    /* padding-bottom: 150px; */
    justify-content: center;
    align-items: center;
}
.heading2{
    font-size: 18px;
    color: rgb(24, 24, 143);
}



.card2-container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.card2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.card2-text{
    
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.card2-text p{
    color: rgb(106, 105, 105);
}

.card2-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card2 {
    flex: 1;
    position: relative;
  }
  
  .card2:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 2px; /* Adjust the width of the dotted line */
    height: 80%; /* Adjust the height of the dotted line */
    background-color: transparent;
    border-left: 1px dotted rgb(106, 105, 105); /* Adjust the color of the dotted line */
  }

  .card2 img{
    width: 200px;
    height: 100px;
  }
  

  .network-container h3{
    font-size: 34px;
    padding-bottom: 10px;
    padding-left: 18px;
    color: rgb(24, 24, 143);
    font-family: Nunito Sans;
    font-weight: 600;
 }

  
  .lol{
    display: flex;
    flex-direction: row;
    font-style: bold;
    color: black;
    padding-right: 10px;
    margin-right:10px;
  }
  /* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .homepage-navbar {
        width: 90%; /* Adjust width for smaller screens */
    }

    .paragraph {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
    .lol{
        display: flex;
        flex-direction: row;
        font-style: bold;
        color: black;
        padding-right: 10px;
        margin-right:10px;
      }
    .card1-container {
        display: flex;
        flex-direction: column;
        padding-top: 37px;
        /* padding-bottom: 150px; */
        justify-content: center;
        align-items: center;
    }
    .card2 img {
        width: 120px; /* Adjust image size for smaller screens */
    }
    .vcproject{
        font-size:27px;
        font-style:bold;
        padding-right: 37px;
        
    }
    .heading-container {
        font-size: 12px;
        padding-top: 20px;
    }
}
