

    .homepage-navbar-container {
        padding-top: 5px;
        padding-left: 70px;
        display: flex;
        background-color: rgba(255, 255, 255, 0.9); /* White with 90% opacity */
        width: 100%; /* Ensures the navbar spans the full width of the viewport */
        position: fixed; /* Fixes the navbar at the top */
        top: 0; /* Aligns the navbar to the top of the viewport */
        z-index: 1000; /* Ensures the navbar is above other content */
        box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2); /* Adds a shadow to the bottom of the navbar */
      }
      

  

.vcproject{
    font-size:29px;
    font-style:bold;
    
    
}
.homepage-logo{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    
}




.svg-container{
    z-index: 11;
    align-self: center;
    min-width: 0px;
    order: 3;
    min-height: 56px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% + 0px);
    margin: 0px;
    justify-content: flex-start;
    overflow: visible;
    border-top: 1px solid rgba(84, 84, 84, 0.2);
    border-radius: 0px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.2);
    padding: 0px 0px;
    opacity: 1;
    margin-top:200px;
}


.heading-container {
    font-size: 16px;
    padding-top: 0;
    font-family: Nunito Sans;
    margin-top: 16px;
}
.logo-vc{
    width: 120px;
    height: 120px;
    margin-top: -41px;
    margin-right: -17px;
    margin-left: -41px;
}

.card1-container {
    display: flex;
    flex-direction: column;
    padding-top: 136px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
}
headding2{
    font-size: 18px;
    color: rgb(24, 24, 143);
}



.card2-container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.card2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.card2-text{
    
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.card2-text p{
    color: rgb(106, 105, 105);
}

.card2-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card2 {
    flex: 1;
    position: relative;
  }
  
  .card2:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 2px; /* Adjust the width of the dotted line */
    height: 80%; /* Adjust the height of the dotted line */
    background-color: transparent;
    border-left: 1px dotted rgb(106, 105, 105); /* Adjust the color of the dotted line */
  }
  .lol{
    display: flex;
    flex-direction: row;
    font-style: bold;
    color: black;
    padding-right: 10px;
    margin-right:10px;
  }
  .report-font{
    color:white;
  }
  /* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .homepage-navbar {
        width: 100%;
        justify-content: space-between;
        margin-left: -58px;
        padding-top: 0px;
        margin-bottom: -22px;
        margin-top: -18px;
    }
    .homepage-navbar-container {
        padding-top: 9px;
        margin-left: auto;
        padding-left: 1px;
        display: flex;
        flex-direction: column;
        /* padding-bottom: 20px; */
        color: black;
       width: 100%;
    }
    .logo-vc {
        width: 114px;
        height: 120px;
        margin-top: -41px;
        margin-right: -17px;
        margin-left: 107px;
    }
    .homepage-logo {
        margin-top: 12px;
        margin-left: -53px;
        display: flex;
        flex-direction: row;
      
    }
    
    .svg-container {
        z-index: 11;
        align-self: center;
        min-width: 0px;
        order: 3;
        min-height: 56px;
        height: max-content;
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% + 0px);
        margin: 0px;
        justify-content: flex-start;
        overflow: visible;
        border-top: 1px solid rgba(84, 84, 84, 0.2);
        border-radius: 0px;
        border-bottom: 1px solid rgba(84, 84, 84, 0.2);
        padding: 0px 0px;
        opacity: 1;
        margin-top: 20px;
    }


    .paragraph {
        font-size: 31px;
    }
    .lol{
        display: flex;
        flex-direction: row;
        font-style: bold;
        color: black;
        padding-right: 10px;
        margin-right:10px;
      }
      .card1-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .card2 img {
        width: 120px; /* Adjust image size for smaller screens */
    }
    .vcproject {
        font-size: 27px;
        font-style: bold;
        padding-left: 0px;
        margin-top: 3px;
    }
    .heading-container {
        font-size: 18px;
        padding-top: 20px;
    }
}
