.card {
  width: 267px;
  height: 360px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(66, 66, 66, 0.342);
  overflow: hidden;
  margin: 1rem;
  transition: transform 0.2s ease;
}
  
  .card:hover {
    transform: translateY(-5px); /* Elevate the card slightly on hover */
    cursor: pointer;
  }
  
  
  .card-img {
    width: 100%;
    height: 149px;
    object-fit: cover;
    border-radius: 0px;

  }
  
  /* .square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     }


.square{
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  border:none;
} */
  .card-title {
    
    margin-top: 0px;
    padding-bottom: 1px;
    padding-left: 0.8rem;
    font-size: 0.9rem;
    font-family: Nunito Sans;
  }
  
 .card-company{
    margin-bottom: 0.3rem;
    padding-left: 0.8rem;
    padding-bottom: 0.2rem;
    font-size: 0.7rem;
    color: grey;
    font-family: Nunito Sans;
  }
  

  .readmore-button{
    margin-left: 10.5rem;
    margin-bottom: 1rem;
    margin-top: 6px;
    padding: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 18px;
    background-color: rgb(67, 67, 255);
    color: white;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    font-family: Nunito Sans;
  }


  .tag-button {
    margin-left: 0.8rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 16px;
    background-color: rgb(183, 180, 180);
    color: white;
    font-size: 0.7rem;
    border: none;
    font-family: Nunito Sans;
}

  .horizontal-line {
    width: 86%;
    border-top: 1.2px solid #ccc;
    margin: 1px auto;

    
  }
  @media only screen and (max-width: 768px) {
  .card {
    width: 285px;
    height: 366px;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(66, 66, 66, 0.342);
    overflow: hidden;
    margin: 1rem;
    transition: transform 0.2s ease;
}
.card-title {
  margin-top: 7px;
        padding-bottom: 1px;
        padding-left: 0.8rem;
        font-size: 0.8rem;
        font-family: Nunito Sans;
}
.tag-button{
  font-size:13px;
}
.readmore-button {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  font-size: 10px;
  margin-left: 37px;
}
}