@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.main-tag{
	background-color: #000000;
	color: #ffffff;
	font-size: 22px;
	margin-left:-600px;

}
.main-para{
	background-color: #000000;
	color: #ffffff;

	margin-left:-600px;

}
.tag{
	background-color: #000000;
	color: #ffffff;
	font-size: 18px;
	padding:auto;
	margin:auto;
	margin-left:300px;

}
.container{
	/* max-width: 1170px; */
	margin:auto;
}
.send-details-footer{
	display: flex;
	flex-direction: row;
	margin-left: 120px;
	margin-top:-40px;
}
.row{
	display: flex;   
}
.send-button {
    z-index: 8;
    align-self: flex-start;
    min-width: 63px;
    max-width: 63px;
    order: 2;
    min-height: 47px;
    width: 63px;
    flex-grow: 1;
    height: max-content;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    cursor: pointer;
    background: none rgb(133, 133, 133);
    border: 1px none rgb(127, 149, 235);
    text-align: center;
    font-family: Circular-Std-Book;
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 1;
    border-radius: 7px;
    opacity: 1;
}
.logos-footer h4{
	color: white;
	font-family: Nunito Sans;
	font-size: 18px;
}
ion-icon {
	color: rgb(11, 11, 11);
	padding-right: 25px;
	/* margin-top:15px; */
	/* margin-bottom:15px; */
  }
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
    position: relative;
	width: 100%;
	z-index: 3; /* Increased z-index */

}
.footer hr{
	content: "";
	position: relative;
	margin-top:70px;
	bottom: 45px; /* Adjust this value to control the distance from the bottom */
	left:302px;
	align-items: center;
	justify-content: center;
	width: 70%;
	height: 1px; /* Adjust this value to control the thickness of the line */
	background-color: white; /* Change this to the color you want for the line */
  }
.footer-col{
   width: 58%;
   padding: 0 15px;
   padding-right: 150px;
}
.footer-bottom{
	
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	margin-bottom: -45px;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom:10px;

}
.send-details-footer {
    display: none;
}
.footerdetails{
	display: none;
}

.para-footer{
	 padding-bottom: 10px;
}
.footer-heading{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-top: 15px;
	font-weight: 500;


}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(67, 67, 255);
	height: 3px;
	box-sizing: border-box;
	width: 60px;

}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-links{
	font-size: 16px;
	/* text-transform: capitalize; */
	
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 10px;
}
/*responsive*/
@media(max-width: 767px){

	    .footer {
        background-color: #000000;
        padding: 70px 0;
        position: relative;
        width: 100%;
        z-index: 3;
    }
	.send-details-footer {
		display: flex;
		flex-direction: row;
		margin-left: -284px;
		margin-top: 18px;
	}	
	.logos-footer{
		display: none;
	}
	ion-icon {
		color: rgb(0, 0, 0);
		padding-right: 25px;
		/* margin-top: 15px; */
		margin-bottom: -9px;
		font-size: 10px;
		
	}
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	padding-left: 33px;
	padding-right: 10px;
}
.footer hr {
    content: "";
    position: relative;
    margin-top: 24px;
    bottom: 45px;
    left: 76px;
    align-items: center;
    justify-content: center;
    width: 64%;
    height: 1px;
    background-color: white;
}
.para-footer {
    padding-bottom: 10px;
	padding-right:25px;
	padding-left:25px;
}
.main-tag{
	background-color: #000000;
	color: #ffffff;
	font-size: 26px;
	margin-left:42px;

}
.tag {
    background-color: #000000;
    color: #ffffff;
    font-size: 22px;
    padding: auto;
    margin: auto;
    margin-left: -26px;
}
}
.footer-logos{
	display: flex;
	flex-direction: row;
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.footer-col {
	width: 99%;
	margin-right: -27px;
}
.send-details-footer {
    display: none;
}
.footerdetails{
	display: none;
}
}



