.container-accordion{
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom:130px;
  padding-top: 150px;
  font-family: Nunito Sans;
  
}

code {
  font-family: Nunito Sans;
}

.accordion-title{
  font-size: 42px;
  color: var(--text-primary);
  font-family: Nunito Sans;
  margin-left:32px;
  margin-bottom: 30px;
}
/* accordion styles */

h1 {
  font-size: 42px;
  color: var(--text-primary);
  margin: 0px;
  margin-bottom: 30px;
  font-family: Nunito Sans;
}
.accordion__faq-heading{
  font-size: 34px;
  font-family: Nunito Sans;
}

.custom-h3 {
  font-size: 34px; /* Adjust the font size as needed */
  
}
.accordion-simple > .active {
  display: block;
}

.accordion__faq .inactive{
  display: none;
}

.accordion__faq > div{
  background-color: var(--white);
  margin-bottom: 50px; /* Adjust spacing for mobile */
  padding: 0px 15px;
  border-radius: 5px;
  font-size: 34px;
  cursor: pointer;
  font-family: Nunito Sans;
}

.accordion__title{
  color: var(--text-secondary);
  padding-bottom: 20px;
  font-weight: 500;
  font-family: Nunito Sans;
}

.accordion__faq-heading{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.accordion__faq-heading .active{
  color: var(--text-primary);
}

.accordion__faq-heading h3{
  color: var(--text-secondary);
  font-weight: 600;
  font-size:34px;
}

.accordion__faq p {
  margin: 0px;
  padding-bottom: 20px; /* Adjust spacing for mobile */
  color: var(--text-secondary);
  line-height: 1.4;
  font-family: Nunito Sans;
  font-size:34px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px; /* Adjust font size for smaller screens */
  }
  
  .accordion__faq > div {
    margin-bottom: 30px; /* Adjust spacing for smaller screens */
  }
  
  .accordion__title {
    padding-bottom: 15px;
    font-family: Nunito Sans; /* Adjust padding for smaller screens */
  }
  
  .accordion__faq p {
    padding-bottom: 15px; /* Adjust padding for smaller screens */
  }
}
