.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-top: 2rem;
    z-index: -2;
  }
  
  .card {
    margin: 5px;
    border: 2px solid #ededed;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    overflow: hidden;
    border: none;
  }
  
  .card-img {
    width: 100%; /* Ensure the image covers the entire container */
  height: 200px; /* Adjust the height as needed */
  background-size: fill; /* Ensure the entire image fits within the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */

  }
  
  .square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     }


.square{
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  border:none;
}
  .card-title {
    
    padding: 0.5rem;
    padding-left: 0.3rem;
  }
  
 .card-company{
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: grey;
  }
  